.ill{
    background-color: #E0E0E0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
span{
    color: #28CB8B;
}
h1{
    width: 70%;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn3{
    background-color: #28CB8B;
    border: none;
    padding: 7px 15px;
    color: white;
    font-size: large;
    width: 30%;
}