.hero{
    display: flex;
    gap: 2rem;
    margin-top:4rem;
    /* background-image: url('../../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%; */
    /* background-color: red; */
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    
}

.hero-text h1{
    font-size: 40px;
    line-height: 1.2;
}
.hero-text p{
    color: var(--darkGrayishBlue);
}

/* 
.hero-img{
    padding: 10px;
} */
.hero-img img{
    height: 70vh;
   
}


@media only screen and (max-width:768px) {

    .heading{
        font-size: 30px;
    }
    .hero-img img {
        height:70vh;
    }
    .hero-text{
        font-size: 12px;
    }
    
}

@media only screen and (max-width:580px) {

    .hero{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
    .hero-text{
        align-items: center;
        justify-content: center;
    }
    .hero-text h1{
        text-align: center;
        font-size: 30px;
    }
    .hero-text p{
        text-align: center;
        font-size: 12px;
    }
    




}