nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E0E0E0;
    padding: 10px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.btn{
display: flex;
gap: 20px;
}

.btn1{
    color: #28CB8B;
    border: none;
    padding: 7px 30px;
    font-size: large;
}
.btn2{
    background-color: #28CB8B;
    border: none;
    padding: 7px 15px;
    color: white;
    font-size: large;
}