.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px; 
    position: relative;
    /* padding: 1rem 2rem; */
 
    /* background-color: red; */
}

ul{
    list-style: none;
}

.nav-bar{
    display: flex;
    gap: 1rem;
    /* transition: all 5s; */
}
.nav-bar li{
    font-size: 15px;
    font-weight: 700;
}
.nav-bar li:hover{
    color: var(--darkGrayishBlue);
    cursor: pointer;
}

.btn-red{
    background: var(--brightRedLight);
    color: white;
    font-size: 13px;
    font-weight: 400;
    padding: 0.8rem 2rem;
    cursor: pointer;
    -webkit-box-shadow: 2px 10px 10px 5px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 10px 10px 5px rgba(201, 201, 201, 0.47);    
}



.hamburger{
    display: none;
    cursor: pointer;
}

@media only screen and (max-width:768px) {

    .hide{
        display: none;
    }
    .nav-bar li{
        font-size: 12px;
    }
}


@media only screen and (max-width:580px) {
    .hamburger{
        display: block  ;
    }
    .nav-bar{
        opacity: 0;
        flex-direction: column;
        z-index: 99;
        left:20px ;
        position: absolute;
        transform: translateY(100px);
        /* top: 100px; */
        background-color: white;
        width: 90%;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 2px -1px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px -1px 10px 1px rgba(201, 201, 201, 0.47);
        transition: all ease-out 2s ;         
        transform-origin: right;
    }
     .show{
        /* display: none; */
        /* display: block; */
        /* display: flex; */
        opacity: 1;
        transform: translateY(130px);
        transition: all 2s ease-in;  
     }
       
}