body{
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
 
 
  
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    
 --brightRedLight: hsl(12, 88%, 69%);
 --brightRedSupLight: hsl(12, 88%, 95%);
  --darkBlue: hsl(228, 39%, 23%);
  --darkGrayishBlue: hsl(227, 12%, 61%);
  --veryDarkBlue: hsl(233, 12%, 13%);
  --veryPaleRed: hsl(13, 100%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
}

.container{
  margin: auto;
  max-width: 1100px;
  padding: 20px 40px;
}

.btn{
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  color: var(--brightRedLight);
  background-color: var(--veryLightGray);
  font-size: 13px;
}

.App{
  background-color: white;
  background-image: url('./Components//images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 129% -14%;
 
}

@media only screen and (max-width:768px) {

  .App{
    background-position: 157% -3%;
    background-size: 500px;
  }

}